/* Add here all your CSS customizations */
.panel .navbar {
    margin-bottom: 0px;
    min-height: inherit;
}

.panel .nav > li {
    border: 1px dotted transparent;
    padding: 2px 5px;
}
.panel .nav > li:hover {
    border: 1px dotted #333;
}

/*.panel .nav.navbar-nav > li  .btn.btn-action {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}*/

.panel .nav.navbar-nav > li  a.link {
    color: #777;
}

.media-gallery ul.mg-folders > li a.menu-item {
    white-space: normal;
}

.admin-edit-nav { }

.admin-edit-nav .links {}
.admin-edit-nav .links a.link {}
.admin-edit-nav .links a.action {}

/* */
.media-gallery ul.mg-folders > li > .item-options {
    position: absolute;
    padding: 10px 0;
    right: 0px;
    top: -10px;
    opacity: 0;
    -webkit-transition: opacity 0.1s ease-in;
    -moz-transition: opacity 0.1s ease-in;
    transition: opacity 0.1s ease-in;
}
.media-gallery ul.mg-folders ul li > .item-options {
    position: absolute;
    padding: 10px 0;
    right: 0px;
    top: -10px;
    opacity: 0;
    -webkit-transition: opacity 0.1s ease-in;
    -moz-transition: opacity 0.1s ease-in;
    transition: opacity 0.1s ease-in;
}
.media-gallery ul.mg-folders ul li > .item-options a:hover {
    text-decoration: none;
}
.media-gallery ul.mg-folders ul li:hover > .item-options {
    opacity: 1;
}
.media-gallery .file-item {

}
.media-gallery .file-item.error {
    background: #ff5500;
}
.media-gallery .mg-view-wrapper {
    min-width: 100%;
    height: 150px;
}


/* */
.inner-toolbar > ul {

}
.inner-toolbar > ul > li.search-container {
    padding: 10px 5px;
}
.inner-toolbar > ul > li.search-container .navbar-form {
    padding: 0px;
    margin-top: 0px;
}
/* */
ul.nav-horizontal {
    margin-right: 5px;
}

ul.nav-horizontal > li > a {
    padding: 12px 25px;
}

ul.nav-horizontal > li > a:hover, ul.nav-horizontal > li > a:focus {
    background-color: #21262d;
}

ul.nav-horizontal > li.nav-active > a {
    box-shadow: 2px 0 0 #CCC inset;
}

ul.nav-horizontal > li.nav-active > a:hover {
    color: #abb4be;
}

ul.nav-horizontal > li.nav-active > i {
    color: #CCC;
}

ul.nav-horizontal > li.nav-expanded > a {
    background: #21262d;
}

ul.nav-horizontal li a {
    font-size: 13px;
    font-size: 1.3rem;
    color: #abb4be;
    white-space: nowrap;
    text-overflow: ellipsis;
}

ul.nav-horizontal li a span.label {
    font-weight: normal;
    font-size: 10px;
    font-size: 1rem;
    padding: .3em .7em .4em;
    margin: .4em -1em 0 0;
}

ul.nav-horizontal li a .not-included {
    font-style: normal;
    color: #505b67;
    display: inline-block;
    padding: 0 0 0 6px;
}

ul.nav-horizontal li span {
    vertical-align: middle;
}

ul.nav-horizontal li i {
    /*font-size: 18px;
    font-size: 1.8rem;*/
    width: 1.1em;
    margin-right: 0.5em;
    text-align: center;
    vertical-align: middle;
}

ul.nav-horizontal li.nav-parent {
    position: relative;
}

ul.nav-horizontal li.nav-parent > a {
    cursor: pointer;
}

ul.nav-horizontal li.nav-parent > a .caret-dropdown {
    font-size: 16px;
    font-size: 1.6rem;
    color: #abb4be;
    position: absolute;
    left: -20px;
    top: 0;
    padding: 14px 25px;
    font-family: 'FontAwesome';
}
ul.nav-horizontal li.nav-parent > a .caret-dropdown:before {
    content: '\f00d';
}
ul.nav-horizontal li.nav-parent.nav-expanded > a .caret-dropdown {
}

ul.nav-horizontal li.nav-parent.nav-expanded > a .caret-dropdown:before {
    content: '\f067';
}

ul.nav-horizontal li.nav-parent.nav-expanded > ul.nav-children {
    display: block;
}

ul.nav-horizontal li .nav-children {
    background: #191c21;
    box-shadow: 0px -3px 3px -3px rgba(0, 0, 0, 0.7) inset;
    display: none;
    padding: 10px 0;
}

ul.nav-horizontal li .nav-children li > a {
    padding: 6px 15px 6px 57px;
    overflow: hidden;
}

ul.nav-horizontal li .nav-children li > a:hover, ul.nav-horizontal li .nav-children li > a:focus {
    background: #191c21;
}

ul.nav-horizontal li .nav-children li > a:after {
    padding: 6px 25px;
}

ul.nav-horizontal li .nav-children li.nav-active > a {
    color: #CCC;
}

ul.nav-horizontal li .nav-children .nav-children {
    box-shadow: none;
    padding: 0;
}

ul.nav-horizontal li .nav-children .nav-children li a {
    padding: 6px 15px 6px 82px;
}

ul.nav-horizontal li .nav-children .nav-children .nav-children li a {
    padding: 6px 15px 6px 97px;
}



/*  */
ul.nav-vertical {
    margin-right: 5px;
}

ul.nav-vertical > li > a {
    padding: 12px 25px;
}

ul.nav-vertical > li > a:hover, ul.nav-vertical > li > a:focus {
    background-color: #21262d;
}

ul.nav-vertical > li.nav-active > a {
    box-shadow: 2px 0 0 #CCC inset;
}

ul.nav-vertical > li.nav-active > a:hover {
    color: #abb4be;
}

ul.nav-vertical > li.nav-active > i {
    color: #CCC;
}

ul.nav-vertical > li.nav-expanded > a {
    background: #21262d;
}

ul.nav-vertical li a {
    font-size: 13px;
    font-size: 1.3rem;
    color: #abb4be;
    white-space: nowrap;
    text-overflow: ellipsis;
}

ul.nav-vertical li a span.label {
    font-weight: normal;
    font-size: 10px;
    font-size: 1rem;
    padding: .3em .7em .4em;
    margin: .4em -1em 0 0;
}

ul.nav-vertical li a .not-included {
    font-style: normal;
    color: #505b67;
    display: inline-block;
    padding: 0 0 0 6px;
}

ul.nav-vertical li span {
    vertical-align: middle;
}

ul.nav-vertical li i {
    /*font-size: 18px;
    font-size: 1.8rem;*/
    width: 1.1em;
    margin-right: 0.5em;
    text-align: center;
    vertical-align: middle;
}

ul.nav-vertical li.nav-parent {
    position: relative;
}

ul.nav-vertical li.nav-parent > a {
    cursor: pointer;
}

ul.nav-vertical li.nav-parent > a .caret-dropdown {
    font-size: 16px;
    font-size: 1.6rem;
    color: #abb4be;
    position: absolute;
    left: -20px;
    top: 0;
    padding: 14px 25px;
    font-family: 'FontAwesome';
}
ul.nav-vertical li.nav-parent > a .caret-dropdown:before {
    content: '\f00d';
}
ul.nav-vertical li.nav-parent.nav-expanded > a .caret-dropdown {
}

ul.nav-vertical li.nav-parent.nav-expanded > a .caret-dropdown:before {
    content: '\f067';
}

ul.nav-vertical li.nav-parent.nav-expanded > ul.nav-children {
    display: block;
}

ul.nav-vertical li .nav-children {
    background: #191c21;
    box-shadow: 0px -3px 3px -3px rgba(0, 0, 0, 0.7) inset;
    display: none;
    padding: 10px 0;
}

ul.nav-vertical li .nav-children li > a {
    padding: 6px 15px 6px 57px;
    overflow: hidden;
}

ul.nav-vertical li .nav-children li > a:hover, ul.nav-vertical li .nav-children li > a:focus {
    background: #191c21;
}

ul.nav-vertical li .nav-children li > a:after {
    padding: 6px 25px;
}

ul.nav-vertical li .nav-children li.nav-active > a {
    color: #CCC;
}

ul.nav-vertical li .nav-children .nav-children {
    box-shadow: none;
    padding: 0;
}

ul.nav-vertical li .nav-children .nav-children li a {
    padding: 6px 15px 6px 82px;
}

ul.nav-vertical li .nav-children .nav-children .nav-children li a {
    padding: 6px 15px 6px 97px;
}


/* Sidebar Light - Menu */
html.sidebar-light:not(.dark) ul.nav-vertical {
    margin-top: 3px;
}

html.sidebar-light:not(.dark) ul.nav-vertical li a {
    color: #777;
}

html.sidebar-light:not(.dark) ul.nav-vertical > li > a:hover, html.sidebar-light:not(.dark) ul.nav-vertical > li > a:focus {
    background-color: #fafafa;
}

html.sidebar-light:not(.dark) ul.nav-vertical > li.nav-expanded > a {
    background: #fafafa;
}

html.sidebar-light:not(.dark) ul.nav-vertical li .nav-children {
    background: #F6F6F6;
    box-shadow: 0 -3px 3px -3px rgba(0, 0, 0, 0.1) inset;
}

html.sidebar-light:not(.dark) ul.nav-vertical li .nav-children li a:hover, html.sidebar-light:not(.dark) ul.nav-vertical li .nav-children li a:focus {
    background: #F1F1F1;
}

/*   -- file-manager -- */
html.fixed.file-manager .inner-wrapper {
    padding-top: 0px;
}
html.fixed.file-manager .content-body {
    margin-left: 0px;
}
html.fixed.file-manager .inner-menu-toggle {
    left: 0px;
    top: 0px;
}
html.fixed.file-manager .inner-body.mg-main{
    border-top-width: 150px;
}
html.fixed.file-manager .inner-menu {
    left: 0px;
    top: 0px;
    width: 200px;
}
/*html.fixed.file-manager .inner-menu-toggle,*/
html.fixed.file-manager .inner-menu .inner-menu-toggle-inside {
    margin: -35px -5px 15px -5px;
}
html.fixed.file-manager.inner-menu-opened .inner-body {
    margin-left: 200px;
    width: calc( 100% - 200px );
}
html.fixed.file-manager .inner-toolbar {
    top: 0px;
    left: 0px;
}
html.fixed.file-manager .content-with-menu-has-toolbar .inner-toolbar,
html.scroll.file-manager .content-with-menu-has-toolbar .inner-toolbar,
html.boxed.file-manager .content-with-menu-has-toolbar .inner-toolbar {
    margin-left: 140px;
    padding-left: 0px;
}
html.fixed.file-manager.inner-menu-opened .content-with-menu-has-toolbar .inner-toolbar,
html.scroll.file-manager.inner-menu-opened .content-with-menu-has-toolbar .inner-toolbar,
html.boxed.file-manager.inner-menu-opened .content-with-menu-has-toolbar .inner-toolbar {
    margin-left: 200px;
    padding-left: 0px;
}



html.no-overflowscrolling.file-manager .nano > .nano-content {
    padding: 35px 9px 35px 5px;
}

html.file-manager .media-gallery .mg-files .thumbnail {
    padding: 2px;
}
html.file-manager .media-gallery .mg-files .thumbnail .mg-title {
    display: block;
    font-size: 13px;
    font-size: 1.1rem;
    text-align: center;
}
html.file-manager .media-gallery .mg-files .isotope-item {
    padding-right: 2px;
    padding-left: 2px;
}


/**/
html.sidebar-light:not(.dark) .inner-toolbar > ul > li.active {
    background: #CCC;
}