
html,
body {
    background: #ecedf0;
    width: 100%;
}

html {
    font-size: 10px;
}

body {
    color: #777;
    font-family: "Open Sans", Arial, sans-serif;
    line-height: 22px;
    margin: 0;
    font-size: 13px;
    overflow-x: hidden;
    overflow-y: scroll;
}

a {
    color: #CCC;
}

a:hover, a:focus {
    color: #d9d9d9;
}

a:active {
    color: #bfbfbf;
}

/* Layout Base - Header */
.header {
    height: 60px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

/* Layout Base - Inner Wrapper */
.inner-wrapper {
    display: table;
    min-height: 100vh;
    table-layout: fixed;
    overflow: hidden;
    width: 100%;
}

/* Layout Base - Content Body */
.content-body {
    display: table-cell;
    padding: 40px;
    position: relative;
    vertical-align: top;
}

.content-body > .row + .row {
    padding-top: 10px;
}

/* Layout Base - Page Header */
.page-header {
    background: #171717;
    border-bottom: none;
    border-left: 1px solid #3A3A3A;
    box-shadow: 1px 3px 0 1px #CCCCCC;
    height: 50px;
    margin: -40px -40px 40px -40px;
    padding: 0;
}

/* Page Header */
.page-header {
    z-index: 1001;
}

.page-header h2 {
    color: #FFF;
    border-bottom: 4px solid #CCC;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    display: inline-block;
    float: left;
    height: 50px;
    font-size: 20px;
    font-size: 2rem;
    letter-spacing: normal;
    line-height: 50px;
    margin: 0 0 0 -1px;
    padding: 0 22px 0 20px;
}

.page-header .right-wrapper {
    float: right;
}

.page-header .breadcrumbs {
    display: inline-block;
    font-size: 0;
    line-height: 50px;
    margin: 0;
    padding: 0;
}

.page-header .breadcrumbs li {
    color: #C3C3C3;
    display: inline-block;
    font-weight: 300;
}

.page-header .breadcrumbs li:after {
    content: '/';
    display: inline-block;
    font-size: 14px;
    font-size: 1.4rem;
    margin: 0 10px;
    vertical-align: middle;
}

.page-header .breadcrumbs li:last-child:after {
    display: none;
}

.page-header .breadcrumbs .fa-home {
    font-size: 20px;
    font-size: 2rem;
}

.page-header .breadcrumbs i {
    vertical-align: middle;
}

.page-header .breadcrumbs a,
.page-header .breadcrumbs span {
    color: #C3C3C3;
    display: inline-block;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 20px;
    vertical-align: middle;
}

.page-header .sidebar-right-toggle {
    cursor: pointer;
    color: #C3C3C3;
    display: inline-block;
    font-size: 17px;
    margin: 0 0 0 10px;
    height: 50px;
    width: 50px;
    vertical-align: top;
    text-align: center;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}

.page-header .sidebar-right-toggle i {
    line-height: 53px;
    vertical-align: middle;
}

.page-header .sidebar-right-toggle:hover {
    color: #CCC;
}

/* Userbox */
.userbox {
    display: inline-block;
    margin: 3px 17px 0 0;
    position: relative;
    vertical-align: middle;
}

.userbox > a {
    display: inline-block;
    text-decoration: none;
}

.userbox a:hover {
    text-decoration: none;
}

.userbox .profile-info,
.userbox .profile-picture {
    display: inline-block;
    vertical-align: middle;
}

.userbox .profile-picture img {
    width: 35px;
    color: transparent;
}

.userbox .profile-info {
    margin: 0 25px 0 10px;
}

.userbox .name,
.userbox .role {
    display: block;
}

.userbox .name {
    color: #000011;
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 1.2em;
}

.userbox .role {
    color: #ACACAC;
    font-size: 11px;
    font-size: 1.1rem;
    line-height: 1.2em;
}

.userbox .custom-caret {
    color: #000011;
    font-size: 16px;
    font-weight: bold;
}

.userbox .custom-caret:before {
    content: "\f107";
}

/* Userbox - Open */
.userbox.open > a {
    position: relative;
    z-index: 993;
}

.userbox.open > a .custom-caret:before {
    content: "\f106";
}

.userbox.open .dropdown-menu {
    border: none;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    left: -11px;
    padding: 45px 10px 0;
    top: -10px;
    width: 100%;
    z-index: 992;
}

.userbox.open .dropdown-menu li {
    margin-bottom: 5px;
}

.userbox.open .dropdown-menu a {
    border-radius: 2px;
    color: #7d7d7d;
    display: block;
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 15px;
    line-height: 1.5rem;
    padding: 5px 10px;
}

.userbox.open .dropdown-menu a:hover {
    background: #CCC;
    color: #FFF;
}

.userbox.open .dropdown-menu i {
    font-size: 17px;
    font-size: 1.7rem;
    margin-right: 3px;
    vertical-align: middle;
}

/* Userbox - Mobile */
@media only screen and (max-width: 767px) {
    .userbox {
        float: left;
        margin: 16px 0 0 12px;
        position: relative;
    }

    .userbox:after {
        background: #E9E9E6;
        content: '';
        height: 63px;
        margin: 0;
        position: absolute;
        right: -21px;
        top: -18px;
        width: 1px;
    }

    .userbox .profile-picture {
        display: none;
    }

    .userbox.open .dropdown-menu {
        left: -5px;
        padding: 43px 0 0 0;
    }
}

@media only screen and (max-width: 767px) {
    html,
    body {
        background: #ecedf0;
    }

    html.mobile-device .sidebar-left,
    html.mobile-device .sidebar-right {
        overflow-y: scroll;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
    }

    body {
        min-height: 100vh;
    }

    .inner-wrapper,
    .sidebar-left,
    .content-body {
        display: block;
    }

    .body {
        min-height: 0;
        overflow: visible;
    }

    .header {
        background: none;
        border: none;
        height: auto;
        position: static;
    }

    .header .logo-container {
        height: 60px;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 99;
    }

    .header .header-right {
        background: #FFF;
        float: none !important;
        height: 60px;
        margin-top: 60px;
        width: 100%;
    }

    .inner-wrapper {
        min-height: 0;
        padding-top: 0;
    }

    .content-body {
        padding: 0 15px 15px;
    }

    .page-header {
        margin: 0 -15px 20px;
    }

    .sidebar-left {
        bottom: 0;
        left: -100%;
        min-height: 0;
        min-width: 100%;
        min-width: 100vw;
        padding-top: 60px;
        padding-bottom: 50px;
        position: fixed;
        overflow: hidden;
        top: 0;
        z-index: 98 !important;
    }

    .sidebar-right {
        bottom: 0;
        left: auto;
        right: -100%;
        min-height: 0;
        margin-right: 0;
        min-width: 100%;
        min-width: 100vw;
        top: 0;
        z-index: 100;
    }
}


/* Form - Custom Checkbox */
.checkbox-custom {
    position: relative;
    padding: 0 0 0 25px;
    margin-bottom: 7px;
    margin-top: 0;
}

.checkbox-custom.checkbox-inline {
    display: inline-block;
    vertical-align: middle;
}

.form-group .checkbox-custom.checkbox-inline {
    margin-top: 7px;
    padding-top: 0;
}

.checkbox-custom:last-child, .checkbox-custom:last-of-type {
    margin-bottom: 0;
}

.checkbox-custom input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 3px;
    margin: -6px 0 0 0;
    z-index: 2;
    cursor: pointer;
}

.checkbox-custom input[type="checkbox"]:checked + label:after {
    position: absolute;
    display: inline-block;
    font-family: 'FontAwesome';
    content: '\F00C';
    top: 50%;
    left: 4px;
    margin-top: -5px;
    font-size: 11px;
    line-height: 1;
    width: 16px;
    height: 16px;
    color: #333;
}

.checkbox-custom input[type="checkbox"]:disabled {
    cursor: not-allowed;
}

.checkbox-custom input[type="checkbox"]:disabled:checked + label:after {
    color: #999;
}

.checkbox-custom input[type="checkbox"]:disabled + label {
    cursor: not-allowed;
}

.checkbox-custom input[type="checkbox"]:disabled + label:before {
    background-color: #eee;
}

.checkbox-custom label {
    cursor: pointer;
    margin-bottom: 0;
    text-align: left;
    line-height: 1.2;
}

.checkbox-custom label:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -9px;
    width: 19px;
    height: 18px;
    display: inline-block;
    border-radius: 2px;
    border: 1px solid #bbb;
    background: #fff;
}

.checkbox-custom label + label.error {
    display: block;
}

html.dark .checkbox-custom label:before {
    background: #282d36;
    border-color: #21262d;
}

html.dark .checkbox-custom input[type="checkbox"]:checked + label:after {
    color: #fff;
}

html.dark .checkbox-custom input[type="checkbox"]:disabled + label:before {
    background: #242830;
    border-color: #242830;
}

html.dark .checkbox-primary input[type="checkbox"]:checked + label:after,
.checkbox-primary input[type="checkbox"]:checked + label:after {
    color: #fff;
}

html.dark .checkbox-primary label:before,
.checkbox-primary label:before {
    background: #CCC;
    border-color: #bfbfbf;
}

html.dark .checkbox-text-primary input[type="checkbox"]:checked + label:after,
.checkbox-text-primary input[type="checkbox"]:checked + label:after {
    color: #CCC;
}

html.dark .checkbox-success input[type="checkbox"]:checked + label:after,
.checkbox-success input[type="checkbox"]:checked + label:after {
    color: #fff;
}

html.dark .checkbox-success label:before,
.checkbox-success label:before {
    background: #47a447;
    border-color: #3f923f;
}

html.dark .checkbox-text-success input[type="checkbox"]:checked + label:after,
.checkbox-text-success input[type="checkbox"]:checked + label:after {
    color: #47a447;
}

html.dark .checkbox-warning input[type="checkbox"]:checked + label:after,
.checkbox-warning input[type="checkbox"]:checked + label:after {
    color: #fff;
}

html.dark .checkbox-warning label:before,
.checkbox-warning label:before {
    background: #ed9c28;
    border-color: #e89113;
}

html.dark .checkbox-text-warning input[type="checkbox"]:checked + label:after,
.checkbox-text-warning input[type="checkbox"]:checked + label:after {
    color: #ed9c28;
}

html.dark .checkbox-danger input[type="checkbox"]:checked + label:after,
.checkbox-danger input[type="checkbox"]:checked + label:after {
    color: #fff;
}

html.dark .checkbox-danger label:before,
.checkbox-danger label:before {
    background: #d2322d;
    border-color: #bd2d29;
}

html.dark .checkbox-text-danger input[type="checkbox"]:checked + label:after,
.checkbox-text-danger input[type="checkbox"]:checked + label:after {
    color: #d2322d;
}

html.dark .checkbox-info input[type="checkbox"]:checked + label:after,
.checkbox-info input[type="checkbox"]:checked + label:after {
    color: #fff;
}

html.dark .checkbox-info label:before,
.checkbox-info label:before {
    background: #5bc0de;
    border-color: #46b8da;
}

html.dark .checkbox-text-info input[type="checkbox"]:checked + label:after,
.checkbox-text-info input[type="checkbox"]:checked + label:after {
    color: #5bc0de;
}

html.dark .checkbox-dark input[type="checkbox"]:checked + label:after,
.checkbox-dark input[type="checkbox"]:checked + label:after {
    color: #fff;
}

html.dark .checkbox-dark label:before,
.checkbox-dark label:before {
    background: #171717;
    border-color: #0a0a0a;
}

html.dark .checkbox-text-dark input[type="checkbox"]:checked + label:after,
.checkbox-text-dark input[type="checkbox"]:checked + label:after {
    color: #171717;
}

/* Form - Custom Radio */
.radio-custom {
    position: relative;
    padding: 0 0 0 25px;
    margin-bottom: 7px;
    margin-top: 0;
}

.radio-custom.radio-inline {
    display: inline-block;
    vertical-align: middle;
}

.form-group .radio-custom.radio-inline {
    margin-top: 7px;
    padding-top: 0;
}

.radio-custom:last-child, .radio-custom:last-of-type {
    margin-bottom: 0;
}

.radio-custom input[type="radio"] {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 3px;
    margin: -6px 0 0 0;
    z-index: 2;
    cursor: pointer;
}

.radio-custom input[type="radio"]:checked + label:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 4px;
    margin-top: -5px;
    display: inline-block;
    font-size: 11px;
    line-height: 1;
    width: 10px;
    height: 10px;
    background-color: #444;
    border-radius: 50px;
    -webkit-box-shadow: 0px 0px 1px #444;
    box-shadow: 0px 0px 1px #444;
}

.radio-custom input[type="radio"]:disabled {
    cursor: not-allowed;
}

.radio-custom input[type="radio"]:disabled:checked + label:after {
    color: #999;
}

.radio-custom input[type="radio"]:disabled + label {
    cursor: not-allowed;
}

.radio-custom input[type="radio"]:disabled + label:before {
    background-color: #eee;
}

.radio-custom label {
    cursor: pointer;
    margin-bottom: 0;
    text-align: left;
    line-height: 1.2;
}

.radio-custom label:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -9px;
    width: 18px;
    height: 18px;
    display: inline-block;
    border-radius: 50px;
    border: 1px solid #bbb;
    background: #fff;
}

.radio-custom label + label.error {
    display: block;
}

html.dark .radio-custom label:before {
    background: #282d36;
    border-color: #21262d;
}

html.dark .radio-custom input[type="radio"]:checked + label:after {
    background-color: #fff;
}

html.dark .radio-custom input[type="radio"]:disabled + label:before {
    background: #242830;
    border-color: #242830;
}

html.dark .radio-primary input[type="radio"]:checked + label:after,
.radio-primary input[type="radio"]:checked + label:after {
    background: #CCC;
    -webkit-box-shadow: 0px 0px 1px #CCC;
    box-shadow: 0px 0px 1px #CCC;
}

html.dark .radio-success input[type="radio"]:checked + label:after,
.radio-success input[type="radio"]:checked + label:after {
    background: #47a447;
    -webkit-box-shadow: 0px 0px 1px #47a447;
    box-shadow: 0px 0px 1px #47a447;
}

html.dark .radio-warning input[type="radio"]:checked + label:after,
.radio-warning input[type="radio"]:checked + label:after {
    background: #ed9c28;
    -webkit-box-shadow: 0px 0px 1px #ed9c28;
    box-shadow: 0px 0px 1px #ed9c28;
}

html.dark .radio-danger input[type="radio"]:checked + label:after,
.radio-danger input[type="radio"]:checked + label:after {
    background: #d2322d;
    -webkit-box-shadow: 0px 0px 1px #d2322d;
    box-shadow: 0px 0px 1px #d2322d;
}

html.dark .radio-info input[type="radio"]:checked + label:after,
.radio-info input[type="radio"]:checked + label:after {
    background: #5bc0de;
    -webkit-box-shadow: 0px 0px 1px #5bc0de;
    box-shadow: 0px 0px 1px #5bc0de;
}

html.dark .radio-dark input[type="radio"]:checked + label:after,
.radio-dark input[type="radio"]:checked + label:after {
    background: #171717;
    -webkit-box-shadow: 0px 0px 1px #171717;
    box-shadow: 0px 0px 1px #171717;
}

/* Form - Error Container */
div.validation-message ul {
    display: none;
    list-style: none;
    margin: -15px -15px 15px -15px;
    padding: 15px;
    border-bottom: 1px solid #FFCBCB;
    background: #FFEFEF;
}

div.validation-message ul label.error {
    display: block;
    padding-left: 22px;
    position: relative;
}

div.validation-message ul label.error:before {
    font-family: 'FontAwesome';
    content: '\f00d';
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    color: #D9534F;
    display: inline-block;
}

.select2-drop-mask {
    z-index: 10010;
}

.select2-drop {
    z-index: 10011;
}

.select2-search {
    z-index: 10012;
}

.select2-container--bootstrap.select2-container--open {
    z-index: 10013;
}

@media (max-width: 991px) {
    .select2-container--bootstrap {
        width: auto !important;
    }
}

html.dark .fileupload .uneditable-input {
    background-color: #282d36;
    border-color: #282d36;
}

html.dark .fileupload-new .input-append .btn-file {
    border-color: #21262d;
}

.switch {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin: 3px 0;
}
.switch .ios-switch {
    height: 35px;
    width: 65px;
}
.switch .ios-switch .handle {
    height: 31px;
    width: 31px;
}
.switch.switch-primary .ios-switch .on-background {
    background: #CCC;
}
.switch.switch-success .ios-switch .on-background {
    background: #47a447;
}
.switch.switch-warning .ios-switch .on-background {
    background: #ed9c28;
}
.switch.switch-danger .ios-switch .on-background {
    background: #d2322d;
}
.switch.switch-info .ios-switch .on-background {
    background: #5bc0de;
}
.switch.switch-dark .ios-switch .on-background {
    background: #171717;
}
.switch.switch-lg .ios-switch {
    height: 45px;
    width: 75px;
}
.switch.switch-lg .ios-switch .handle {
    height: 41px;
    width: 41px;
}
.switch.switch-sm .ios-switch {
    height: 25px;
    width: 55px;
}
.switch.switch-sm .ios-switch .handle {
    height: 21px;
    width: 21px;
}

.ios-switch {
    height: 45px;
    width: 75px;
    position: relative;
    background-color: #E5E5E5;
    border-radius: 100px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.ios-switch .background-fill {
    width: 100%;
    height: 100%;
    border-radius: 100px;
    position: absolute;
    left: 0;
    top: 0;
}

.ios-switch .on-background {
    background-image: -o-linear-gradient(#00e459, #00e158);
    background-image: -ms-linear-gradient(#00e459, #00e158);
    background-image: -moz-linear-gradient(#00e459, #00e158);
    background-image: -webkit-linear-gradient(#00e459, #00e158);
    background-image: linear-gradient(#00e459, #00e158);
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
    z-index: 1;
    -o-transition: .3s 0.2s;
    -ms-transition: .3s 0.2s;
    -moz-transition: .3s 0.2s;
    -webkit-transition: .3s 0.2s;
    transition: .3s 0.2s;
}

.ios-switch .state-background {
    border-radius: 100px;
    z-index: 2;
    background-image: -o-linear-gradient(#ffffff, #FDFDFD);
    background-image: -ms-linear-gradient(#ffffff, #FDFDFD);
    background-image: -moz-linear-gradient(#ffffff, #FDFDFD);
    background-image: -webkit-linear-gradient(#ffffff, #FDFDFD);
    background-image: linear-gradient(#ffffff, #FDFDFD);
    border: 2px solid #E5E5E5;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    -o-transition: .4s;
    -ms-transition: .4s;
    -moz-transition: .4s;
    -webkit-transition: .4s;
    transition: .4s;
}

.ios-switch .handle {
    width: 41px;
    height: 41px;
    background-color: white;
    top: 2px;
    left: 2px;
    position: absolute;
    border-radius: 20px;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.075), 0 3px 5px rgba(0, 0, 0, 0.15), 1px 2px 2px rgba(0, 0, 0, 0.05);
    z-index: 3;
    -o-transition: -o-transform 0.3s 0.25s cubic-bezier(0.455, 0.03, 0.215, 1.33);
    -ms-transition: -ms-transform 0.3s 0.25s cubic-bezier(0.455, 0.03, 0.215, 1.33);
    -moz-transition: -moz-transform 0.3s 0.25s cubic-bezier(0.455, 0.03, 0.215, 1.33);
    -webkit-transition: -webkit-transform 0.3s 0.25s cubic-bezier(0.455, 0.03, 0.215, 1.33);
    -o-transition: transform 0.3s 0.25s cubic-bezier(0.455, 0.03, 0.215, 1.33);
    -ms-transition: transform 0.3s 0.25s cubic-bezier(0.455, 0.03, 0.215, 1.33);
    -moz-transition: transform 0.3s 0.25s cubic-bezier(0.455, 0.03, 0.215, 1.33);
    -webkit-transition: transform 0.3s 0.25s cubic-bezier(0.455, 0.03, 0.215, 1.33);
    transition: transform 0.3s 0.25s cubic-bezier(0.455, 0.03, 0.215, 1.33);
    -o-box-sizing: content-box;
    -ms-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.ios-switch.off .handle {
    -o-animation: expand-off .3s 0.2s;
    -ms-animation: expand-off .3s 0.2s;
    -moz-animation: expand-off .3s 0.2s;
    -webkit-animation: expand-off .3s 0.2s;
    animation: expand-off .3s 0.2s;
    -o-transform: translate(0px, 0);
    -ms-transform: translate(0px, 0);
    -moz-transform: translate(0px, 0);
    -webkit-transform: translate(0px, 0);
    transform: translate(0px, 0);
    -o-transform: translate3d(0px, 0, 0);
    -ms-transform: translate3d(0px, 0, 0);
    -moz-transform: translate3d(0px, 0, 0);
    -webkit-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
}

.ios-switch.off .on-background {
    -o-transition: .3s 0s;
    -ms-transition: .3s 0s;
    -moz-transition: .3s 0s;
    -webkit-transition: .3s 0s;
    transition: .3s 0s;
}

.ios-switch.off .state-background {
    -o-transition: .4s 0.25s;
    -ms-transition: .4s 0.25s;
    -moz-transition: .4s 0.25s;
    -webkit-transition: .4s 0.25s;
    transition: .4s 0.25s;
}

.ios-switch.on .handle {
    -o-animation: expand-on .3s 0.2s;
    -ms-animation: expand-on .3s 0.2s;
    -moz-animation: expand-on .3s 0.2s;
    -webkit-animation: expand-on .3s 0.2s;
    animation: expand-on .3s 0.2s;
    -o-transform: translate(30px, 0);
    -ms-transform: translate(30px, 0);
    -moz-transform: translate(30px, 0);
    -webkit-transform: translate(30px, 0);
    transform: translate(30px, 0);
    -o-transform: translate3d(30px, 0, 0);
    -ms-transform: translate3d(30px, 0, 0);
    -moz-transform: translate3d(30px, 0, 0);
    -webkit-transform: translate3d(30px, 0, 0);
    transform: translate3d(30px, 0, 0);
}

.ios-switch.on .on-background {
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter: alpha(opacity=100);
}

.ios-switch.on .state-background {
    -o-transform: scale(0);
    -ms-transform: scale(0);
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
}

@keyframes expand-on {
    0% {
        padding-right: 0;
    }
    40% {
        padding-right: 9px;
    }
    100% {
        padding-right: 0;
    }
}
@keyframes expand-off {
    0% {
        padding-right: 0;
        left: 2px;
    }
    40% {
        padding-right: 9px;
        left: -7px;
    }
    100% {
        padding-right: 0;
        left: 2px;
    }
}
@-o-keyframes expand-on {
    0% {
        padding-right: 0;
    }
    40% {
        padding-right: 9px;
    }
    100% {
        padding-right: 0;
    }
}
@-ms-keyframes expand-on {
    0% {
        padding-right: 0;
    }
    40% {
        padding-right: 9px;
    }
    100% {
        padding-right: 0;
    }
}
@-moz-keyframes expand-on {
    0% {
        padding-right: 0;
    }
    40% {
        padding-right: 9px;
    }
    100% {
        padding-right: 0;
    }
}
@-webkit-keyframes expand-on {
    0% {
        padding-right: 0;
    }
    40% {
        padding-right: 9px;
    }
    100% {
        padding-right: 0;
    }
}
@-o-keyframes expand-off {
    0% {
        padding-right: 0;
        left: 2px;
    }
    40% {
        padding-right: 9px;
        left: -7px;
    }
    100% {
        padding-right: 0;
        left: 2px;
    }
}
@-ms-keyframes expand-off {
    0% {
        padding-right: 0;
        left: 2px;
    }
    40% {
        padding-right: 9px;
        left: -7px;
    }
    100% {
        padding-right: 0;
        left: 2px;
    }
}
@-moz-keyframes expand-off {
    0% {
        padding-right: 0;
        left: 2px;
    }
    40% {
        padding-right: 9px;
        left: -7px;
    }
    100% {
        padding-right: 0;
        left: 2px;
    }
}
@-webkit-keyframes expand-off {
    0% {
        padding-right: 0;
        left: 2px;
    }
    40% {
        padding-right: 9px;
        left: -7px;
    }
    100% {
        padding-right: 0;
        left: 2px;
    }
}