body {
    padding-top: 50px;
}

.container.middle-wrapper {
    padding-top:20px;
}

.business-header {
    height: 400px;
    background: url('http://placehold.it/1920x400') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.carousel.slide {
    height: 400px;
    overflow: hidden;
}
.carousel.slide .carousel-inner .item {
    /*height: 400px;*/
    position: relative;
}
.carousel.slide .carousel-inner .item > img {
}
.carousel.slide .carousel-inner .item .carousel-caption {
    position: absolute;
    z-index: 1;
    top: 15%;
}
.tagline, .tagline a {
    text-shadow: 0 0 10px #000;
    color: #fff;
}
.main-column {
    padding-bottom: 50px;
}

.img-center {
    margin: 0 auto;
}

footer {
    margin: 50px 0;
}


















/*Shopping cart*/
.shopping-cart-popup {
    position: relative;
    margin: 6px 15px 6px 0px;
    border: 1px dashed #cfd9df;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.shopping-cart-popup:hover {
    background-color: rgba(0,0,0,0.6);
    color:#ffffff;
}
.shopping-cart-title { text-align: center;font-size: 30px; line-height: 0px; padding: 1px 2px; }
.shopping-cart-title .text-muted { font-size: 12px; }
.shopping-cart-title .fa.fa-cart-arrow-down {
    color: #d10429;
}
.shopping-cart-title .row {/*font-size: 45px; line-height: 0px; border: 1px dashed #cfd9df;*/}
.shopping-cart-title .shop-cart-left { position: relative; }
.shopping-cart-title .shop-cart-left .badge {
    position: absolute;
    top: 3px;
    right: 20px;
}
.shopping-cart-title .shop-cart-right {font-size: 30px;}

.shopping-cart-items {
    position: absolute;
    padding: 0px 4px;
    background-color: rgba(0,0,0,0.7);
    margin-top: 0px;
    width: 100%;
    z-index: 20;
}
.shopping-cart-item {
    position:relative;
    border: 1px dashed #ffffff;
    border-left: 0px;
    border-right: 0px;
}
.shopping-cart-item .name {
    color: #000;
    text-decoration: none;
    text-align: center;
}
.shopping-cart-item .name.hover {
    color: #ffffff;
    text-decoration: none;
}
.shopping-cart-item.row {
    margin-left: -3px;
    margin-right: -3px;
}
.shopping-cart-item-delete {
    position: absolute;
    right: 0px;
    bottom: 0px;
    background-color: rgba(209, 4, 41, 0.3);
    color: #ffffff;
    text-decoration: none;
    padding: 2px 5px;
    font-size: 10px;
    font-weight: 100;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.shopping-cart-item-delete:hover {
    background-color: #d10429;
    color: #ffffff;
    text-decoration: none;
}
.shopping-cart-buttons {
    margin-left: -4px;
    margin-right: -4px;
}
.shopping-cart-buttons .btn {
    display: block;
    background-color: #d10429;
}


/* full shop cart */
.full-shopping-cart {}
.full-shopping-cart-items .table {
    display: table;
    width: 100%;
}
.full-shopping-cart-items .table-middle {
    display: table-cell;
    height: 91px;
    margin-bottom: 0px;
    vertical-align: middle;
    text-align: center;
}
.shopping-cart-items.full-shopping-cart-items { background: transparent; position: relative; }
.shopping-cart-item.full-shopping-cart-item {
    position:relative;
    margin: 5px 0px;
    border: 1px dashed #ddd;
    background: transparent;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.full-shopping-cart-item .shop-item-photo-wrapper {
    display: block;
}
.full-shopping-cart-item .price { font-size: 18px; color: #777; }
.full-shopping-cart-item .price .price-value { font-size: 25px; font-weight: 700; }
.full-shopping-cart-item-delete {
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: rgba(209, 4, 41, 0.3);
    color: #ffffff;
    font-size: 10px;
    font-weight: 100;
    text-decoration: none;
    padding: 2px 5px;
    -webkit-border-radius: 0px 5px 0px 0px;
    -moz-border-radius: 0px 5px 0px 0px;
    border-radius: 0px 5px 0px 0px;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.full-shopping-cart-item-delete:hover {
    background-color: rgba(209, 4, 41, 1);
    color: #ffffff;
    text-decoration: none;
}
@media (max-width: 991px) {
    .full-shopping-cart-item .shop-item-photo-wrapper {
        width: 50%;
        margin: 0 auto;
    }
    .full-shopping-cart-items .table-middle {
        display: block;
        height: auto;
    }
}


/*Shop categories*/
.nav-shop-category-list {

}
.nav-shop-category-list ul {
    list-style: none;
    text-align: center;
    padding: 0px;
}
.nav-shop-category-list ul li {
    width: 110px;
    display: inline-block;
    margin: 0px 8px;
    vertical-align: top;
    font-weight: 700;
    /*font-family: 'PT Sans', sans-serif;*/
}
.nav-shop-category-list ul li:first-child {
    margin-left: 0px;
}
.nav-shop-category-list ul li:last-child {
    margin-right: 0px;
}
.nav-shop-category-list ul li a {
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.nav-shop-category-list ul li a.img-link {
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid #BF0303;
    position: relative;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    margin-top: 5px;
    padding: 0 0 0 0;
    text-align: center;
    color: #BF0303;
    font-size: 15px;
    line-height: 20px;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    text-decoration: none;
    outline: none!important;
    cursor : pointer;
}
.nav-shop-category-list ul li a.img-link:after {
    display: block;
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    padding: 0 0 0 0;
    border: 1px solid #BF0303;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.nav-shop-category-list ul li:hover a {
    color: #d10429;
    border: 0px solid #BF0303;
}
.nav-shop-category-list ul li:hover a.img-link:after {
    display: block;
    left: -8%;
    top: -8%;
    width: 116%;
    height: 116%;
    border: 1px solid #337ab7;
}
.nav-shop-category-list ul li a.img-link {
    display: block;
    text-align: center;
}
.nav-shop-category-list ul li a.img-link img {
    width: 100%;
}


/* catalog menu */
.shop-catalog-menu {}
.shop-catalog-menu ul {}
.shop-catalog-menu ul li {
    border: 0px solid #ddd;
    background-color: #f5f5f5;
    padding: 0px;
    margin-bottom: 1px;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.shop-catalog-menu ul li:hover {
    background-color: #d10429;
    color: #fff;
}
.shop-catalog-menu ul li a {
    font-weight: 700;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
}
.shop-catalog-menu ul li:hover a {
    color:#000000;
}
.shop-catalog-menu ul li .caret {
    border: 0px solid;
    font-size: 20px;
    height: 14px;
    line-height: 1;
    margin-top: -6.5px;
    padding: 1px 0 0 1px;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 50%;
    width: 14px;

}

.shop-category-wrapper {
    margin: 30px auto;
}

.shop-item-wrapper {

}

.shop-container-items {}
.shop-container-items .shop-item {
    text-align: center;
    border-bottom: 1px dashed #cfd9df;
    margin: 0px 0px 30px;
    line-height: 1;
    position: relative;
    z-index: 6;
    min-height: 400px;
}
.shop-container-items .shop-item .name {
    font-size: 16px;
    display: block;
    margin:5px 0px;
    padding: 5px;
}
.shop-container-items .shop-item .name:hover {
    color: #d10429;
    text-decoration: none;
}
.shop-container-items .shop-item .category-name {
    color: #777;
    font-size: 10px;
    display: block;
}
.shop-container-items .shop-item .link {
    border: 1px dashed #cccfd1;
    display: inline-block;
    font-size: 16px;
    margin: 8px 0;
    padding: 7px 20px;
    text-decoration: none;
    text-transform: uppercase;
    -moz-transition: background 0.3s ease, color 0.3s ease,border 0.3s ease;
    -webkit-transition: background 0.3s ease, color 0.3s ease,border 0.3s ease;
    transition: background 0.3s ease, color 0.3s ease,border 0.3s ease;
}
.shop-container-items .shop-item .link:hover {
    background-color: #d10429;
    border-color: #d10429;
    -webkit-box-shadow: 0 0 0 2px #d10429 inset, 0 0 0 3px rgba(255, 255, 255, 0.55) inset;
    -moz-box-shadow: 0 0 0 2px #d10429 inset, 0 0 0 3px rgba(255, 255, 255, 0.55) inset;
    box-shadow: 0 0 0 2px #d10429 inset, 0 0 0 3px rgba(255, 255, 255, 0.55) inset;
    color: #fff;
}
.shop-container-items .shop-item .price {
    font-size: 13px;
}
.shop-container-items .shop-item .price .price-value {
    font-size: 30px;
    font-weight: 700;
}

.shop-container-items .shop-item .modifications {
    display: none;
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: -4px;
    left: 0px;
    background-color: rgba(0,0,0,1);
    border: 4px solid #b6c7d1;
    z-index: 20;
}
.shop-container-items .shop-item .modifications .price {
    color: #337ab7;
}
.shop-container-items .shop-item .modifications ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: block;
}
.shop-container-items .shop-item .modifications .small-views {
    width: 30%;
    /*float: right;*/
    vertical-align: top;
    display: inline-block;
    position: relative;
}
.shop-container-items .shop-item .modifications .small-views li {
    cursor:pointer;
    display: block;
    opacity: 0.4;
    -moz-opacity: 0.4;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.shop-container-items .shop-item .modifications .small-views li.active {
    opacity: 1;
    -moz-opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.shop-container-items .shop-item .modifications .full-views {
    width: 72%;
    /*float: left;*/
    display: inline-block;
    position: relative;
}
.shop-container-items .shop-item .modifications .full-views li {
    text-align: center;
    display: block;
    float: left;
}

/* cart action form */
.cart-action-form-wrapper .plus {

}
.cart-action-form-wrapper .minus {

}
.cart-action-form-wrapper input[name='quantity'] {
    text-align: center;
}

/* shop item */
.shop-item-wrapper {
}
.cart-action {}
.cart-action .name {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}
.cart-action .price {
    font-size: 38px;
    font-weight: 700;
    line-height: 1;
}
.cart-action .price .price-value {
    color: #d10429;
}
.cart-action .price .fa.fa-rub {
    font-size: 28px;
    font-weight: 300;
}

.cart-action .cart-action-form-wrapper {

}

.shop-item-wrapper .shop-item-modification {
    text-align: center;
    cursor: pointer;
}
.shop-item-wrapper .shop-item-modification .price {
    position: absolute;
    bottom: 0px;
    display: block;
    text-align: center;
    width: 100%;
    padding-bottom: 3px;
}
.shop-item-wrapper .shop-item-modification.active .price {
    background: #337ab7;
    color: #ffffff;
}
.shop-item-wrapper .shop-item-modification .your-choose {
    position: absolute;
    top: 0px;
    display: none;
    text-align: center;
    width: 100%;
    padding-top: 3px;
}
.shop-item-wrapper .shop-item-modification.active .your-choose {
    background: #337ab7;
    color: #ffffff;
    display: block;
}
.shop-item-wrapper .shop-item-modification .fa.fa-check{
    position: absolute;
    top: 39%;
    left: 39%;
    color: #337ab7;
    font-size: 40px;
    display: none;
}

.shop-item-wrapper .shop-item-modification.active .fa.fa-check {
    display: block;
}
.shop-item-wrapper .shop-item-modification .img-thumbnail {
    position: relative;
    overflow: hidden;
}
.shop-item-wrapper .shop-item-modification.active .img-thumbnail {
    color: #337ab7;
    border: 2px solid #337ab7;
}
.shop-item-wrapper .small-views {
    display: block;
    height: 100px;
    position: relative;
}
.shop-item-wrapper .small-views ul {
    margin: 0px;
    padding: 0px;
}
.shop-item-wrapper .small-views li {
    height: 100px;
    width: 100px;
    cursor:pointer;
    display: block;
    float: left;
    opacity: 0.4;
    -moz-opacity: 0.4;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.shop-item-wrapper .small-views li.active {
    opacity: 1;
    -moz-opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.shop-item-wrapper .full-views {}
.shop-item-wrapper .full-views ul {
    margin:0px;
    padding:0px;
}
.shop-item-wrapper .full-views li {
    text-align: center;
    display: block;
    float: left;
}