/*{
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}*/
body {
    font-family: 'Roboto Condensed', sans-serif;
}

.parallax-window {
    min-height: 400px;
    background: rgba(0, 0, 0, 0.6) 100px 100px;
    color: #ffffff;
    position: relative;
}

/*Dropdowns in general*/
.dropdown-menu {
    box-shadow: none;
    border-color: #eee;
}
.dropdown-menu > li > a {
    color: #777;
}
.dropdown-menu > li > a > .glyphicon,
.dropdown-menu > li > a > .fa,
.dropdown-menu > li > a > .ion {
    margin-right: 10px;
}
.dropdown-menu > li > a:hover {
    background-color: #e1e3e9;
    color: #333;
}
.dropdown-menu > .divider {
    background-color: #eee;
}
.navbar-nav > .languages-menu > .dropdown-menu,
.navbar-nav > .notifications-menu > .dropdown-menu,
.navbar-nav > .messages-menu > .dropdown-menu,
.navbar-nav > .tasks-menu > .dropdown-menu {
    width: 280px;
    padding: 0 0 0 0;
    margin: 0;
    top: 100%;
}
.navbar-nav > .languages-menu > .dropdown-menu > li,
.navbar-nav > .notifications-menu > .dropdown-menu > li,
.navbar-nav > .messages-menu > .dropdown-menu > li,
.navbar-nav > .tasks-menu > .dropdown-menu > li {
    position: relative;
}
.navbar-nav > .languages-menu > .dropdown-menu > li.header,
.navbar-nav > .notifications-menu > .dropdown-menu > li.header,
.navbar-nav > .messages-menu > .dropdown-menu > li.header,
.navbar-nav > .tasks-menu > .dropdown-menu > li.header {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #ffffff;
    padding: 7px 10px;
    border-bottom: 1px solid #f4f4f4;
    color: #444444;
    font-size: 14px;
}
.navbar-nav > .languages-menu > .dropdown-menu > li.footer > a,
.navbar-nav > .notifications-menu > .dropdown-menu > li.footer > a,
.navbar-nav > .messages-menu > .dropdown-menu > li.footer > a,
.navbar-nav > .tasks-menu > .dropdown-menu > li.footer > a {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 12px;
    background-color: #fff;
    padding: 7px 10px;
    border-bottom: 1px solid #eeeeee;
    color: #444!important;
    text-align: center;
}
@media (max-width: 991px) {
    .navbar-nav > .languages-menu > .dropdown-menu > li.footer > a,
    .navbar-nav > .notifications-menu > .dropdown-menu > li.footer > a,
    .navbar-nav > .messages-menu > .dropdown-menu > li.footer > a,
    .navbar-nav > .tasks-menu > .dropdown-menu > li.footer > a {
        background: #fff!important;
        color: #444!important;
    }
}
.navbar-nav > .languages-menu > .dropdown-menu > li.footer > a:hover,
.navbar-nav > .notifications-menu > .dropdown-menu > li.footer > a:hover,
.navbar-nav > .messages-menu > .dropdown-menu > li.footer > a:hover,
.navbar-nav > .tasks-menu > .dropdown-menu > li.footer > a:hover {
    text-decoration: none;
    font-weight: normal;
}
.navbar-nav > .languages-menu > .dropdown-menu > li .menu,
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu,
.navbar-nav > .messages-menu > .dropdown-menu > li .menu,
.navbar-nav > .tasks-menu > .dropdown-menu > li .menu {
    max-height: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-x: hidden;
}
.navbar-nav > .languages-menu > .dropdown-menu > li .menu.mCustomScrollbar,
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu.mCustomScrollbar,
.navbar-nav > .messages-menu > .dropdown-menu > li .menu.mCustomScrollbar,
.navbar-nav > .tasks-menu > .dropdown-menu > li .menu.mCustomScrollbar {
}

.navbar-nav > .languages-menu > .dropdown-menu > li .menu.mCustomScrollbar  .mCSB_container,
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu.mCustomScrollbar  .mCSB_container,
.navbar-nav > .messages-menu > .dropdown-menu > li .menu.mCustomScrollbar  .mCSB_container,
.navbar-nav > .tasks-menu > .dropdown-menu > li .menu.mCustomScrollbar  .mCSB_container{
    margin-right: 0px;
}

.navbar-nav > .languages-menu > .dropdown-menu > li .menu  li > a,
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu  li > a,
.navbar-nav > .messages-menu > .dropdown-menu > li .menu  li > a,
.navbar-nav > .tasks-menu > .dropdown-menu > li .menu  li > a {
    display: block;
    white-space: nowrap;
    /* Prevent text from breaking */
    border-bottom: 1px solid #f4f4f4;
}

.navbar-nav > .languages-menu > .dropdown-menu > li .menu  li > a:hover,
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu  li > a:hover,
.navbar-nav > .messages-menu > .dropdown-menu > li .menu  li > a:hover,
.navbar-nav > .tasks-menu > .dropdown-menu > li .menu  li > a:hover {
    background: #f4f4f4;
    text-decoration: none;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu  li > a {
    color: #444444;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 10px;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu  li > a > .glyphicon,
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu  li > a > .fa,
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu  li > a > .ion {
    width: 20px;
}


.navbar-nav > .languages-menu > .dropdown-menu > li .menu  li > a {
    margin: 0;
    padding: 10px 10px;
}
.navbar-nav > .languages-menu > .dropdown-menu > li .menu  li > a > div > img {
    margin: auto 10px auto auto;
    width: 40px;
    height: 40px;
}
.navbar-nav > .languages-menu > .dropdown-menu > li .menu  li > a > h4 {
    padding: 0;
    margin: 0 0 0 45px;
    color: #444444;
    font-size: 15px;
    position: relative;
}
.navbar-nav > .languages-menu > .dropdown-menu > li .menu > li > a > h4 > small {
    color: #999999;
    font-size: 10px;
    position: absolute;
    top: 0;
    right: 0;
}
.navbar-nav > .languages-menu > .dropdown-menu > li .menu  li > a > p {
    margin: 0 0 0 45px;
    font-size: 12px;
    color: #888888;
}
.navbar-nav > .languages-menu > .dropdown-menu > li .menu  li > a:before,
.navbar-nav > .languages-menu > .dropdown-menu > li .menu  li > a:after {
    content: " ";
    display: table;
}
.navbar-nav > .languages-menu > .dropdown-menu > li .menu  li > a:after {
    clear: both;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu  li > a {
    margin: 0;
    padding: 10px 10px;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu  li > a > div > img {
    margin: auto 10px auto auto;
    width: 40px;
    height: 40px;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu  li > a > h4 {
    padding: 0;
    margin: 0 0 0 45px;
    color: #444444;
    font-size: 15px;
    position: relative;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > h4 > small {
    color: #999999;
    font-size: 10px;
    position: absolute;
    top: 0;
    right: 0;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu  li > a > p {
    margin: 0 0 0 45px;
    font-size: 12px;
    color: #888888;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu  li > a:before,
.navbar-nav > .messages-menu > .dropdown-menu > li .menu  li > a:after {
    content: " ";
    display: table;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu  li > a:after {
    clear: both;
}
.navbar-nav > .tasks-menu > .dropdown-menu > li .menu  li > a {
    padding: 10px;
}
.navbar-nav > .tasks-menu > .dropdown-menu > li .menu  li > a > h3 {
    font-size: 14px;
    padding: 0;
    margin: 0 0 10px 0;
    color: #666666;
}
.navbar-nav > .tasks-menu > .dropdown-menu > li .menu  li > a > .progress {
    padding: 0;
    margin: 0;
}
.navbar-nav > .user-menu > .dropdown-menu {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding: 1px 0 0 0;
    border-top-width: 0;
    width: 280px;
}
.navbar-nav > .user-menu > .dropdown-menu,
.navbar-nav > .user-menu > .dropdown-menu > .user-body {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
    height: 175px;
    padding: 10px;
    text-align: center;
    background-color: #f5f5f5;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header > img {
    z-index: 5;
    height: 90px;
    width: 90px;
    border: 3px solid;
    border-color: transparent;
    border-color: rgba(255, 255, 255, 0.2);
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header > p {
    z-index: 5;
    color: #000;
    color: rgba(0, 0, 0, 0.8);
    font-size: 17px;
    margin-top: 10px;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header > p > small {
    display: block;
    font-size: 12px;
}
.navbar-nav > .user-menu > .dropdown-menu > .user-body {
    padding: 15px;
    border-bottom: 1px solid #f4f4f4;
    border-top: 1px solid #dddddd;
}
.navbar-nav > .user-menu > .dropdown-menu > .user-body:before,
.navbar-nav > .user-menu > .dropdown-menu > .user-body:after {
    content: " ";
    display: table;
}
.navbar-nav > .user-menu > .dropdown-menu > .user-body:after {
    clear: both;
}
.navbar-nav > .user-menu > .dropdown-menu > .user-body a {
    color: #444 !important;
}
@media (max-width: 991px) {
    .navbar-nav > .user-menu > .dropdown-menu > .user-body a {
        background: #fff !important;
        color: #444 !important;
    }
}
.navbar-nav > .user-menu > .dropdown-menu > .user-footer {
    background-color: #f9f9f9;
    padding: 10px;
}
.navbar-nav > .user-menu > .dropdown-menu > .user-footer:before,
.navbar-nav > .user-menu > .dropdown-menu > .user-footer:after {
    content: " ";
    display: table;
}
.navbar-nav > .user-menu > .dropdown-menu > .user-footer:after {
    clear: both;
}
.navbar-nav > .user-menu > .dropdown-menu > .user-footer .btn-default {
    color: #666666;
}
@media (max-width: 991px) {
    .navbar-nav > .user-menu > .dropdown-menu > .user-footer .btn-default:hover {
        background-color: #f9f9f9;
    }
}
.navbar-nav > .user-menu .user-image {
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -2px;
}
@media (max-width: 767px) {
    .navbar-nav > .user-menu .user-image {
        float: none;
        margin-right: 0;
        margin-top: -8px;
        line-height: 10px;
    }
}
/* Add fade animation to dropdown menus by appending
 the class .animated-dropdown-menu to the .dropdown-menu ul (or ol)*/
.open:not(.dropup) > .animated-dropdown-menu {
    backface-visibility: visible !important;
    -webkit-animation: flipInX 0.7s both;
    -o-animation: flipInX 0.7s both;
    animation: flipInX 0.7s both;
}
@keyframes flipInX {
    0% {
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transition-timing-function: ease-in;
        opacity: 0;
    }
    40% {
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transition-timing-function: ease-in;
    }
    60% {
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }
    80% {
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }
    100% {
        transform: perspective(400px);
    }
}
@-webkit-keyframes flipInX {
    0% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -webkit-transition-timing-function: ease-in;
        opacity: 0;
    }
    40% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -webkit-transition-timing-function: ease-in;
    }
    60% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }
    80% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }
    100% {
        -webkit-transform: perspective(400px);
    }
}
/* Fix dropdown menu in navbars */
.navbar-custom-menu > .navbar-nav > li {
    position: relative;
}
.navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
    position: absolute;
    right: 0;
    left: auto;
}
@media (max-width: 991px) {
    .navbar-custom-menu > .navbar-nav {
        float: right;
    }
    .navbar-custom-menu > .navbar-nav > li {
        position: static;
    }
    .navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
        position: absolute;
        right: 5%;
        left: auto;
        border: 1px solid #ddd;
        background: #fff;
    }
}



/**/
header{}
header .navbar-right {
    margin-right:auto;
}
header .nav-main {
    background-color: #d10429;
    color: #000000;
    border: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}
header .nav-main a {
    color: #000000;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

header .nav-main a:hover,
header .nav-main a:focus {
    color: #ffffff;
    background: #000000;
}

header .nav-main .open > a,
header .nav-main .open > a:hover,
header .nav-main .open > a:focus {
    color: #ffffff;
    background: #000000;
}

.header-left { }
.main-phone-number {
    font-weight: 900;
    font-size: 29px;
    text-align: left;
    margin: 0px 0px 10px;
}
.main-logo-image {
    text-align: center;
    margin: 10px 0px 20px;
}
.main-work-time {
    font-weight: 100;
    font-size: 20px;
    text-align: center;
    margin: 0px 0px 10px;
}

.user-backs { margin: 0px; padding: 0px; list-style: none; position: absolute; top:0px; right: -25px; z-index: 5; }
.user-backs li {
    list-style-type: none;
    display: inline-block;
    margin: 0 -5px 0 12px;
    vertical-align: top;
    position: relative;
}
.user-backs li a {
    display: block;
    width: 32px;
    height: 32px;
    border: 2px solid #BF0303;
    position: relative;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    padding: 3px 0 0 0;
    text-align: center;
    color: #BF0303;
    font-size: 15px;
    line-height: 20px;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    text-decoration: none;
    outline: none!important;
    cursor : pointer;
}

.user-backs li a:after {
    display: block;
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    width: 32px;
    height: 32px;
    border: 1px solid #BF0303;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.user-backs li a:hover:after {
    display: block;
    left: -7px;
    top: -7px;
    width: 42px;
    height: 42px;
    border: 1px solid #337ab7;
}

.locality-info {
    text-align: center;
}
.locality-info .btn {
    padding: 2px 20px;
    width: 100%;
}
.locality-info .text-muted { font-size: 12px; }

#carousel-header {
    height: 350px;
}
#carousel-header .item {
    height: 350px;
}
#carousel-header .carousel-indicators {
    color: #d10429;
}
#carousel-header .carousel-indicators li {
    color: #d10429;
    border-color: #d10429;
}
#carousel-header .carousel-indicators li.active {
    background-color: #d10429;
}
#carousel-header .carousel-control {
    color: #d10429;
}

.benefits-container {}
.benefits-list {
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin: 0px 0px;
}
.benefit-item  {
    padding: 10px;
    width: 16.6%;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border: 1px dashed;
    border-left: none;
    background-color: rgba(0,0,0,.6);
}
.benefit-item:last-child {
    border-right: none;
}
.benefit-item .icon {
    display: block;
    font-size: 30px;
}

.titleBox {
    position: relative;
    text-align: center;
}
.titleBox::after {
    background-color: #cfd9df;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: 10px;
    width: 100%;
    z-index: -1;
}
.titleBox .h2 {
    background-color: #fff;
    display: inline-block;
    padding: 0 15px;
    margin-top: 0px;
    font-size: 32px;
    line-height: 0.8;
}

/* mainNews
**--------------------------------*/
.mainNews {
    font-size: 14px;
    line-height: 1.15;
    margin-bottom: 15px;
}
.mnOne {
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
}
.mnDate {
    background-color: #fff;
    left: 20px;
    line-height: 0.85;

    position: absolute;
    text-align: center;
    top: 20px;
}
.mnOne .mnDate {
    font-size: 12px;
    height: 60px;
    width: 60px;
    padding: 8px 0 0;
}
.mnDate .num {
    display: block;
    font-weight: 700;
}
.mnOne .num {
    font-size: 40px;
}
.mnoCont {
    background-color: rgba(255, 255, 255, 0.9);
    bottom: 0;
    left: 20px;
    padding: 15px;
    position: absolute;
    right: 20px;
    text-align: center;
}
.mnTitle {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 2px;
    text-transform: uppercase;
}
.mnTitle a{color: #d10429;}
.mnMore .fa {
    margin: 0 6px 0 0;
    vertical-align: -2px;
}
.mnTwo .mnDate {
    font-size: 10px;
    height: 40px;
    padding: 3px 0;
    top: 10px;
    width: 40px;
    z-index: 6;
}
.mnTwo .num {
    font-size: 30px;
}
.mnTwo {
    margin-bottom: 20px;
}
.linkImg::before {
    border: 1px solid #fff;
    bottom: 5px;
    content: "";
    left: 5px;
    position: absolute;
    right: 5px;
    top: 5px;
    opacity: 0;
}
.linkImg {
    display: block;
    position: relative;
}
.linkImg:hover::before {
    opacity: 1;
}


/* sliderNews
**--------------------------------*/
.listNews::after {
    background-color: #ddd;
    content: "";
    height: 100%;
    left: 50%;
    position: absolute;
    top: 0;
    width: 1px;
    z-index: -1;
}
.listNews {
    overflow: hidden;
    padding-bottom: 40px;
    padding-top: 40px;
    position: relative;
}
.newsItem.load {
    background: url('../images/load.gif')no-repeat center center;
    height: 300px;
}
.lnItem {
    float: left;
    width: 50%;
}
.sliderNews {
    position: relative;
}
.newsItem {
    position: relative;
    width: 100%;
}
.sliderNews .item {
    float: left;
    width: 100%;
    position: relative;
}
.item > a {
    background-color: #31393f;
    float: left;
    height: 100%;
    width: 100%;
}
.sliderNews img {
    display: block;
    margin: 0 auto;
    max-height: 310px;
    max-width: 100%;
}
.navBtn {
    background-color: rgba(49, 57, 63, 0.5);
    color: #fff;
    font-size: 21px;
    height: 48px;
    line-height: 50px;
    margin-top: -48px;
    position: absolute;
    text-align: center;
    top: 50%;
    right: 0;
    width: 48px;
}
.navBtn:hover {
    background-color: #d10429;
    color: #fff;
}
.news_next {margin-top: 1px;}
.snDes {
    background-color: #F1F1F1;
    bottom: 10px;
    color: #333;
    font-size: 13px;
    left: 10px;
    padding: 7px 20px;
    position: absolute;
    text-transform: uppercase;
}
.infoPanel {
    background-color: #f8f8f8;
    margin-bottom: 8px;
    padding: 10px 0 7px;
}
.infoPanel > span {margin: 0 10px;}
.infoPanel .fa {margin-right: 10px;}
.niTitle {
    color: #d10429;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 7px;
    text-decoration: none;
    text-transform: uppercase;
}
.newsItem > p {
    color: #666;
    font-size: 16px;
    line-height: 1.2;
}
.listNews .inItemLeft .newsItem {
    padding-bottom: 40px;
    padding-right: 50px;
}
.listNews .inItemLeft .newsItem::before {
    border-bottom: 1px solid #ddd;
    content: "";
    position: absolute;
    right: 15px;
    top: 15px;
    width: 35px;
}
.listNews .inItemLeft .newsItem::after {
    background-color: #fff;
    border: 3px solid #95a3b0;
    border-radius: 16px;
    content: "";
    height: 16px;
    right: -8px;
    position: absolute;
    top: 8px;
    width: 16px;
}
.listNews .inItemRight .newsItem {
    padding-left: 50px;
    padding-top: 40px;
}
.listNews .inItemRight .newsItem::before {
    border-bottom: 1px solid #ddd;
    content: "";
    position: absolute;
    left: 15px;
    top: 95px;
    width: 35px;
}
.listNews .inItemRight .newsItem::after {
    background-color: #fff;
    border: 3px solid #95a3b0;
    border-radius: 16px;
    content: "";
    height: 16px;
    left: -8px;
    position: absolute;
    top: 88px;
    width: 16px;
}



/* places */
#google_maps {
    height: 400px;
    width: 100%;
}
.places-maps {
    position: relative;
}

.places-maps .titleBox {
    position: relative;
}
.places-maps .places-wrapper {
    position: relative;
}
.places-maps .places-list {
}
.place-item.active {

}
.place-item .title {
    display: block;
    background-color: #5f6a70;
    border-radius: 3px;
    color: #fff;
    font-size: 18px;
    margin-bottom: 2px;
    padding: 15px 10px 15px 20px;
    text-transform: uppercase;
    cursor: pointer;
}
.place-item .title .fa.fa-arrow-circle-o-down {
    float: right;
}
.place-item .title .hint {
    font-size: 13px;
    color: #333;
    margin-bottom: 0px;
}
.place-item .title .user-backs { right: 10%;top: 10px; }

.place-item .info {
    border: 1px solid #5f6a70;
    margin-top: -4px;
    margin-bottom: 4px;
    padding: 5px 14px;
    border-radius: 0px 0px 4px 4px;
    -webkit-border-radius: 0px 0px 4px 4px;
    -moz-border-radius: 0px 0px 4px 4px;
}

/* color tags */
ul.color-tags {
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-align: center;
}
ul.color-tags li.color-tag-item {
    list-style: none;
    margin: 2px;
    display: inline-block;
}
.color-tag-item a {
    display: block;
    width: 48px;
    height: 48px;
    border: 1px solid #d10429;
    position: relative;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    padding: 0px;
    text-align: center;
    color: #ddd;
    font-size: 15px;
    line-height: 20px;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    text-decoration: none;
    outline: none!important;
    cursor : pointer;
}
.color-tag-item a:after {
    display: block;
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 47px;
    height: 47px;
    border: 1px solid #d10429;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.color-tag-item  a:hover:after {
    display: block;
    left: -6px;
    top: -6px;
    width: 58px;
    height: 58px;
    border: 1px solid #337ab7;
}

/**/
footer {
    background-color: #000000;
}

