.linker-wrapper {
    border-bottom: 1px solid #eff2f7;
    padding-bottom: 15px;
    margin-bottom: 15px;
    margin-right: -15px;
    margin-left: -15px;
}
.linker-container {
    padding: 0px 40px;
}
.relation-list-wrapper {
    display: inline-block;
}
.relation-list-wrapper .relation-item {
    display: inline-block;
}
.relation-list-wrapper .relation-item-info {
    display: inline-block;
}

.linker-wrapper .btn-sm, .linker-wrapper .btn-group-sm > .btn {
    padding: 1px 5px;
    font-size: 10px;
}